/*Logo styles*/
.logo img {
    width: auto;
    height: 90px;
    background-color: #fff;
}

/*Marketplace logo styles*/
.logo.logo-marketplace img {}

/*Redemption logo styles*/
.logo.logo-redemption img {}