/*------------------------------------------------------------------
[Table of contents]

1. Landing page styles
2. Progress slider
-------------------------------------------------------------------*/

/*Import Custom Fonts*/
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

#redemption-code-form {
    height: 400px;
}

/*Landing page styles*/
.redemption-header {
    text-transform: capitalize;
    font-weight: 400;
    font-family: Oswald;
    opacity: 0.5;
}
.redemption-code-input-wrapper input[type=text]::-webkit-input-placeholder {
   color: rgba(33,104,152,0.3);
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: 1px;
}
.redemption-code-input-wrapper input[type=text]:-moz-placeholder { /* Firefox 18- */
   color: rgba(33,104,152,0.3);
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: 1px;
}
.redemption-code-input-wrapper input[type=text]::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(33,104,152,0.3);
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: 1px;
}
.redemption-code-input-wrapper input[type=text]:-ms-input-placeholder {  
   color: rgba(33,104,152,0.3);
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: 1px;
}
.redemption-code-input-wrapper input[type=text] {
    border-radius: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0;
    border-left: 4px solid rgba(33,104,152,0.7);
    background-color: rgba(33,104,152,0.5);
    background-color: #f8f8f8;
    padding: 20px;
    /*FONT*/
    color: rgba(33,104,152,1);
    font-weight: 700;
    letter-spacing: 1px;
    height: 50px !important;
}
.redemption-code-input-wrapper input[type=text]:focus {
    outline: none;
    box-shadow: none;
}
.redemption-code-input-wrapper button[type=submit] {
    border-radius: 0;
    padding: 14px;
    border: 0;
    text-transform: uppercase;
    background-color: rgba(33,104,152,1);
    color: #fff;
}
.redemption-code-input-wrapper .input-group-addon {
    padding: 0;
}
#redemption-input-wrapper {
    margin: 0 auto;
    padding-top: 80px;
    width: 500px;
}
/*Progress slider*/
.bs-wizard {margin-top: 40px;}
.bs-wizard {padding-bottom: 35px;margin-top: 40px;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #f8f8f8; font-size: 16px; font-weight: 400; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }