body {
  color:#525252;
  font-family: 'Open Sans', sans-serif;
}
.logo-link {
  overflow: visible;
}
.logo-link img {
  height:80px;
  /*width:100%;*/
  margin: 25px 0 0 0;
}

.loader {
  margin:10% 40%;
}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
.well {
  padding:5px 10px
}
.gray-bg {
  margin:20px 0 40px 0;
  background-color: #909295;
  font-weight:bold;
}
.gray-bg .navbar-toggle {
  background-color: #393939;
  color:#fff;
}
.gray-bg .nav .open > a,
.gray-bg .nav .open > a:focus,
.gray-bg .nav .open > a:hover {
  background-color: #5e5e5e!important;
}
.gray-bg .navbar {
  margin-bottom:0!important;
  min-height: inherit;
}
.gray-bg a:hover {
  background-color: #5e5e5e!important;
}
.gray-bg .navbar-nav > li > .dropdown-menu {
  background-color:#f2f2f2;
}
.gray-bg .dropdown-menu li a {
  color:#5e5e5e;
  padding:10px;
  font-size:0.9em;
  border-bottom:1px solid #c6c6c6
}
.gray-bg .dropdown-menu li:last-child a {
  border-bottom:none;
}
.gray-bg .dropdown-menu li a:hover {
  color:#eeeeee;
}
.gray-bg .navbar a {
  color:#fff;
}
.gray-bg .nav > li > a:focus, .gray-bg .nav > li > a:hover {
  background-color: #5e5e5e!important;
}
.vertical-divider {
  width:3px;
  /*text-align:center;*/
  display:block;
  margin:0 auto;
  background-color:#c6c6c6;
  height:100%;
}
.welcome-stationary img {
  /*border-left:3px solid #c6c6c6;*/
  /*padding-left:50px;*/
  width:100%;
}
.x2 {
  font-size:1.6em;
}
.blue {
  color:#3c78ad;
}

.truncate {
  width:100%;
  display:block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

hr {
  border-width:3px 0 0;
  margin:0;
}

/* featured rewards */
.featured-rewards h3 {
  margin-top:0;
}
.featured-spots {
  margin-bottom:40px;
}
.featured-spots img {
  width:100%;
  /*max-height:220px*/
}
.featured-rewards .nav-tabs {
  width:100%;
  display:block;
  overflow:hidden;
}
.featured-rewards .nav-tabs li {
  float:right;
}
.featured-rewards .nav-tabs li a {
  padding:0.5em 2em;
  color:#909295;
}
.featured-rewards .nav-tabs li.active {
  float:left;
  font-size:1.7em;
  text-transform:uppercase;
  border-bottom:3px solid #111;
  margin-bottom:-1px;
}
.featured-rewards .nav-tabs li.active a {
  padding:0;
  color:#555;
}
.featured-rewards .nav-tabs {
  border-bottom:2px solid #ccc;
}
.featured-rewards .nav-tabs > li.active > a,
.featured-rewards .nav-tabs > li.active > a:focus,
.featured-rewards .nav-tabs > li.active > a:hover {
  border-color:transparent;
}
.featured-rewards .nav-tabs li:hover, .featured-rewards .nav-tabs li.active {
  background:#fff !important;
}

.item h5 a {
  color:#909295;
}
.item .img-container {
  text-align:center;
  margin:3.5em 0;
}
.item .meta-container {
  padding:0 0.25em;
}
.item .img-container img {
  width:100%;
}
.featured-rewards .anchor-image {
  width:95%;
}

/* Footer */
footer {
  background:#909295;
  padding:3em 0;
}
footer ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
footer ul li {
  float:left;
}
footer ul li:first-child a {
  padding-left:0!important
}
footer ul li a {
  padding:1em 3em;
  color:#fff;
}
footer ul li a:hover {
  color:#fff;
}
footer {
  color:#fff;
}
.price-list, .category-list {
  list-style-type:none;
  margin:0;
  padding:0;
}
.price-list li,
.category-list li,
.price-list li a,
.category-list li a {
  margin:5px 0;
  color:#909295!important;
}

.price-list li a.active,
.category-list li a.active {
  color: #515254 !important;
  font-weight:bold;
}
.price-list li:hover, .category-list li:hover {
  color:#23527c;
  text-decoration:underline;
}

.search-area h4 {
  color:#337ab7;
}
.item.list-group-item
{
  float: none;
  width: 100%;
  margin-bottom: 10px;
}

.item.list-group-item:before, .item.list-group-item:after
{
  display: table;
  content: " ";
}

.list-group-item {
  overflow:hidden;
}
.list-group-item .img-container {
  width:35%;
  float:left;
  margin:0;
}
.list-group-item .meta-container {
  float:right;
  width:60%;
}
.meta-container .description {
  display:none;
}
.list-group-item .meta-container .description {
  display:block;
}
.reward-list .list-group-item {
  border-color:transparent;
}
.reward-list .add-to-cart {
  display:none;
}
.reward-list .list-group-item .add-to-cart {
  display:inline-block;
}

/* Cart Styling */
.cart-preview {
  padding:2px 0.8em;
}
.cart-preview img {
  width:100%;
}
.cart-listing { border-bottom:1px solid #e9e9e9; padding-top:5px; padding-bottom:5px;}

.pay-with-card {
   background-color: #ececec;
   color: #5e5e5e;
   padding:10px 0;
 }
.pay-with-card h4, .pay-with-points h4 {
  font-size:2.5em;
}
.pay-with-points {
  background-color:#337ab7;
  color:#fff;
  padding:10px 0;
}
.btn[disabled], button[disabled], input[disabled] {
  cursor:pointer;
}

/* List Styling*/
ol {
  margin-bottom:30px;
}
.no-bullets {
  list-style-type:none;
  list-style-position:inside;
  margin:0;
  padding:0;
}
.no-bullets .fa-plus {
}
.no-bullets li {
  overflow:hidden;
}
.no-bullets li.question {
  margin-bottom:8px;
}
.no-bullets li.question ol, .no-bullets li.question ul {
  margin:0; padding:0;
}
.no-bullets > li.question > div {
  clear:both;
  margin:1.5em;
  display:none;
}
.no-bullets li.question > strong {
  cursor:pointer;
  text-decoration:none;
  /*color:#0d74b9!important;*/
  display:block;
  float:left;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.no-bullets li > strong:hover {
  text-decoration:underline;
}
.collapse-indicator i {
  color:#a6a6a6;
}
.collapse-indicator {
  cursor:pointer;
  border:1px solid #a6a6a6;
  padding:5px;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  border-radius: 3em;
  font-size:0.7em;
  /*position:relative;*/
  /*top:-0.2em;*/
  float:right;
  /*display:inline-block;*/
}



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

  .welcome-area {
    font-size:1.5em;
    margin-bottom:30px;
  }

  footer .copy {
    text-align:center;
    margin-top:20px;
  }

  footer ul { display:table; margin:0 auto; }
  footer li { display:table-cell; }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  .vertical-divider {
    min-height:180px;
  }

  .welcome-area {
    font-size:1.3em;
    margin-bottom:0;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  footer ul { display:block; margin:0;}
  footer li { display:inline;}
  .vertical-divider {
    min-height:240px;
  }

  footer .copy {

    margin-top:0;
    text-align:right;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

  .vertical-divider {
    min-height:300px;
  }

  .welcome-area {
    font-size:1.5em;
  }
}